:root{
    --purple : rgb(216, 52, 216);
    --blue : blue;
    --green : green;
    --gold : gold;
    --skyblue : rgb(30, 126, 163);
    --gray : rgba(242, 214, 214, 0.871);
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* header start  */

header>nav{
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

a{
    color: #000;
    text-decoration: none;
}

nav ul{

    display: flex;
    gap: 20px;
    list-style: none;
}

/* header end  */

/* main start  */

.products-container{

    display: flex;
}

.products-container .card{

    width: calc(100% / 3);
    /* background-color: aqua; */
    text-align: left;
    padding: 10px 50px 100px 4px;
}

.products-container .card:nth-child(1){

    background-color: var(--purple);
}

.products-container .card:nth-child(2){

    background-color: var(--blue);
}

.products-container .card:nth-child(3){

    background-color: var(--green);
}

.card h2{

    color: #fff;
    margin-bottom: 10px;
}

.info-container{

    min-height: calc(100vh - (63.2px + 18.4px));
    display: flex;
}

.info-container .info{

    width: 80%;
    padding: 20px;

    background-color: var(--gold);
}

.info-container aside{
    width: 20%;
    background-color: var(--blue);
    padding: 20px;
}

.info h2,aside h2{

    margin-bottom: 10px;

}
/* main end  */


/* footer start  */

footer{

    background-color: var(--skyblue);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}