@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --archivo: "Archivo Black";
    --roboto: "Roboto";
    --bg: #E4E4E4;
    --orange: #E76F51;
    --white : #FFFF;
    --dark : #3B3735;
    --gray : #8D8D8D;
    --pink : rgb(248, 225, 219);
}

body{
    background-color: var(--bg);
    font-family: var(--roboto),var(--archivo);
    font-size: 16px;
}

h2{
    font-family: var(--archivo);
    font-size: 81px;
}

h3{
    font-size: 40px;
}

h4{
    font-size: 18px;
}

.container{
    max-width: 1518px;
    margin: 0 auto;
}

.btn{
    max-width: 185px;
    max-height: 50px;
}

.py{

    padding: 100px 0;
}

/* header start  */

header{
    width: 100%;
    /* background-color: gray; */
    /* margin-top: 50px; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register a{
    max-width: 130px;
    max-height: 50px;
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    padding: 8px 14px;
    transition: border .5s ease-in-out;
}

.register a:hover{

    border: 1px solid var(--gray);
    border-radius: 20px;
}

nav .nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-bar ul{
    font-size: 22px;
    display: flex;
    gap: 20px;
}

.nav-bar ul li a{
    font-family: var(--roboto);
    color: var(--white);
    position: relative;
    
}

.nav-bar ul li a::after{

    content: "";
    display: inline-block;
    width: 3px;
    height: 30px;
    background-color: var(--orange);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    transition: opacity .3s ease-in-out;

    opacity: 0;
    
}

.nav-bar ul li a:hover::after{

    opacity: 1;
}

/* header end  */

/* banner start  */

.banner-bg{
    width: 100%;
    height: 100vh;
    color: var(--white);
    background-image: url('../images/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text{
    width: 40%;
    text-align: center;
}
.banner-text p{
    font-family: var(--roboto);
    font-size: 16px;
    margin:50px 0 40px 0; 
}



.dis-btn{
    width: 205px;
    height: calc(50px - 20px);
    background-color: var(--orange);
    color: var(--white);
    font-size:18px;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 25px;
}

/* banner end  */

/* card section start  */

.cards{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.card{
    width: calc(100% / 4);
    height: 312px;
    background-color: var(--white);
    text-align: center;
    border-radius: 20px;
    transform: translateY(-130px);
    padding: 40px 20px;
    flex-grow: 1;
}

.card h4{
    font-family: var(--archivo);
    font-size: 18px;
    font-weight: bold;
    margin-top: 60px;
    /* margin-bottom: 20px; */
}

/* card section end  */

/* expolore section start  */

.title-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

.title-box>.img-box{
    width: 70px;
    height: 70px;
    position: relative;
    margin: 0;
    padding: 0;
}
.title-box>.img-box::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    opacity: 0.6;
    z-index: 999;
}

.title-box .text-box{
    width: 30%;
    font-family: var(--archivo);
    text-align: center;
    text-wrap: wrap;
}

.explore-section{
    background-image: url(../images/Subscribe.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
}

.explore-cards .explore-card{
    width: calc((100% / 4) - 20px);
    background-color: var(--white);
    text-align: center;
    padding: 40px 20px;
    border-radius: 24px;
    flex-grow: 1;
}

.card-header{
    position: relative;
}

.card-header i{
    width: 40px;
    height: 40px;
    background-color: var(--white);
    color: var(--orange);
    text-align: center;
    line-height: 40px;
    border-radius: 40%;
    /* display: inline-block; */
    position: absolute;
    left: 90%;
    top: 10%;
    transform: translate(-90%,-10%);
    cursor: pointer;
}

.card-header b{
    width: 145px;
    height: 50px;
    background-color:var(--white);
    color: var(--orange);
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    /* padding: 8px; */
    position: absolute;
    left:50%;
    top: 115%;
    transform: translate(-50%,-115%);
    z-index: 20;
}

.card-body h4{
    font-family: var(--archivo);
    font-weight: bold;
    margin: 30px 0;
}

.card-body p{
    margin-bottom: 20px;
}

.explore-card .card-footer .btn,.view-all{
    max-width: 185px;
    max-height: 50px;
    background-color: var(--gray);
    color: var(--dark);
    padding: 8px 20px;
    border-radius: 30px;
}

.view-all{
    background-color: transparent;
    color: var(--orange);
    border: 1px solid var(--orange);
    margin: 20px 0;
}

/* expolore section end  */


/* touch section start  */


.touch-section{

    padding: 40px 0;
}

.main-touch{
    width: 100%;
    height: 390px;
    display: flex;
    /* height: calc(100vh - 54.4px); */
    justify-content: center;
    align-items: center;

}

.main-touch .touch-item{
    width: 55%;
    height: 100%;
    border-radius: 35px;

    background-color: var(--pink);
    background-image: url(../images/mask.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.touch-item .mask-item{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.mask-item h3{
    font-family:var(--archivo);
}

.mask-item p{
    font-family: var(--roboto);
    font-size: 16px;
    margin: 40px 0;
}

.email-container{
    width: 616px;
    height: 80px;
    position: relative;
}

.email-img{

    position: absolute;
    left: 0;
    top: 0;
}

.email-img:first-child{
    left: 30px;
    top: 30px;
}

.email-img:last-child{
    width: 50px;
    height: 50px;
    left: 90%;
    top: 20%;
}

.email{
    width: 100%;
    height: 100%;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    padding: 40px 80px;
}

.email:focus{
    outline: none;
}

.main-touch .tent{
    width: 45%;
    height: 100%;
    background-color: var(--pink);
    background-image: url(../images/tent.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 35px;
}

/* touch section end  */



/* footer start  */


.footer-section{
    background-color: var(--pink);
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    position: relative;

}

.footer{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    gap: 20px;
    flex-wrap: wrap;
}

.footer .ads,.footer .lists{

    width: calc((100% / 2) - 20px);
    flex-grow: 1;
}

.ad-title b,.apps p,.list-item b{

    font-family: var(--archivo);
    font-size: 18px;
    font-weight: bold;
}

.footer .ad-title{

   margin-left: 30px;
}

.ad-title p{
    margin-top: 12px;
}

.apps{

    width: 100%;
}

.apps img{

    width: 147px;
    height: 43px;
    margin-top: 12px;
}

.footer .lists{
    display: flex;
    /* justify-content: space-around; */
    gap: 30px;
}

.lists ul{
    margin-top:5px;
}

.lists ul li{

    padding: 8px;
}

.copy{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section a{
    width: 60px;
    height: 60px;
    background-color: var(--white);
    color: var(--orange);
    text-align: center;
    line-height: 60px;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    left: 90%;
    top: -20px;
    transform: translate(-90%,0);
}



/* footer end  */


/* hamburger start  */

.hamburger{

    display: none;
}

.hamburger>.line {
    transition: transform .25s ease-out;
}

.hamburger>.line:nth-child(1) {
    transform: rotate(0deg) translate(0px);
}

.hamburger>.line:nth-child(2) {
    display: block;
}

.hamburger>.line:nth-child(3) {
    transform: rotate(0deg) translate(0px);
}


.active>.line {
    transition: transform .25s ease-in-out;
}

.active>.line:nth-child(1) {
    transform: rotate(50deg) translate(4px,4px);
}

.active>.line:nth-child(3) {
    transform: rotate(-50deg) translate(4px,-4px);
}

.active>.line:nth-child(2) {
    display: none;
}

/* hamburger end  */




/* res start  */


@media screen and (max-width:992px) {

    .hamburger {
        width: 50px;
        height: 50px;
        background-color: var(--white);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        /* margin-right: 5px; */
    }

    header{

        /* position: absolute; */
    }

    .line:nth-child(1){

        margin-top: 10px;
    }

    .line {
        width: 35px;
        height: 3px;
        background-color: var(--orange);
        margin-bottom: 8px;
    }


    #menu {
        display: none;
    }

    #menu.open {
        width: 100%;
        background-color: var(--orange);
        display: block;
        padding: 20px;
        position: absolute;
        top: 100%;
        left: 0%;
    }

    #menu li{
        padding: 5px;
    }

    #menu li a{
        color: var(--white);
    }

    #menu li a::after{

        background-color: var(--white);
    }

    .register{

        display: none;
    }

    h2{

        font-size: 45px;
    }

    .cards{

        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    .cards .card{
        width: 374px;
        height: 312px;
    }

    .explore-section{
        background-image: none;
        background:linear-gradient(95deg,var(--pink),var(--white));
    }

    .title-box .text-box{
        width: 100%;
    }

    .explore-cards{

        /* width: 100%; */
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .explore-cards .explore-card{
       width: 100%;
       /* height: 100vh; */
    }

    .explore-card .card-header img{

        width: 289.41px;
        height: 180px;
    }

    .explore-card .card-header i{

        left: 67%;
        top: 5%;
        transform: translate(-70%,-10%);

    }

    .main-touch{

        flex-direction: column-reverse;
        height: 100vh;
    }

    .main-touch .touch-item{
        width: 100%;

    }

    .touch-item .mask-item{
        width: 50%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .touch-item .mask-item p{
        width: 70%;
        margin-top: 20px;
    }

    .touch-item .mask-item .email-container{

        width: 334px;
        height:80px;
        margin-bottom: 100px;
       
    }

    .email-img:last-child{
        left: 80%;
    }

    .main-touch .tent{
        width: 100%;
    }

    .footer{
        width: 100%;
        height:100vh;
        padding: 80px;
    }

    .footer .ads{
        width: 100%;
    }

    .lists{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .lists .list-item{
        width: calc((100% / 2) - 30px);
    }

    .footer-section a{
        display: none;
    }
}

@media screen and (max-width:1005px) {
    
    .touch-item .mask-item .email-container{

        width: 334px;
        height:80px;
    }
}

@media screen and (max-width:615px) {

    .explore-card .card-header i{

        left:74%;
        top: 5%;
        transform: translate(-70%,-10%);

    }
    
}

@media screen and (max-width:572px) {

    .explore-card .card-header i{

        left:80%;
        top: 5%;
        transform: translate(-70%,-10%);

    }

    .touch-item .mask-item{
        width: 50%;
        margin-top: 40px;
    }

    .touch-item .mask-item .email-container{

        width: 334px;
        height:80px;
        margin-right: 100px;
    }
    
    
}

